<configuration>
  <config>
    <add key="globalPackagesFolder" value="packages" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Allure.Commons.Debug" value=".\Allure.Commons\bin\Debug" />
    <add key="Allure.SpecFlowPlugin.Debug" value=".\Allure.SpecFlowPlugin\bin\Debug" />
  </packageSources>
</configuration>